body {
  margin: 0;
  padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.editor {
  position: relative;
  width: 700px;
}

.preview {
  position: relative;
  width: 700px;
}
